<div class="col-xs-6 col-md-4">
    <div class="contentBlock">

        <div class="contentHeader">
            <h2>{{ recipe.name }}</h2>
             <p><b>${{ recipe.price }}</b></p>
         </div><!-- /.contentHeader -->

        <div class="pricing1">
        <form action="{{ path('buy_product', {'recipe_id': recipe.id}) }}" method="post">
            
            <div class="top">
             	<span>Ingredients</span>
              	<ul>
                	{% for recipeIngredient in recipe.recipeIngredients %}
        				<li><i>{{ recipeIngredient.quantity }} {{ recipeIngredient.ingredient.measure }}</i> of <b>{{ recipeIngredient.ingredient.name }}</b></li>
        			{% endfor %}
              	</ul>
            </div><!-- /.top -->

            <div class="bottom">
            	{% set remainingProducts = recipe.products|length %}
		      	{% if remainingProducts > 0 %}
		        	<button type="submit" class="btn btn-lg btn-embossed btn-block btn-primary"><span class="fa"></span>Buy One</button>
		      	{% endif %}
		      	<span>{{ remainingProducts }} Remaining</span>
            </div><!-- /.bottom -->

        </form>
        </div><!-- /.pricing1 -->
    </div>
</div><!-- /.col-md-4 col -->
